{% extends "template.html" %}

{% block title %}
<title>{{ film.title }}</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for ('static', filename='template.css') }}">
<link rel="stylesheet" href="{{ url_for ('static', filename= 'film.css') }}"
{% endblock %}

{% block content %}
<div class="container mt-4">

<h1 class="film-titel">{{ film.title }}</h1>

    <p class="film-info">
        <strong>Regisseur:</strong>
        {{ regisseur.voornaam }} {{ regisseur.achternaam }}
    </p>

    <p>
        <strong>Release datum:</strong>
        {{ film.release_datum.strftime("%d-%m-%Y") }}
    </p>

    <hr>

    <h3 class="trailer">Trailer</h3>

    <div class="ratio ratio-16x9 mb-4">
        <iframe
            src="https://www.youtube.com/embed/{{ film.trailer_url }}"
            title="YouTube video"
            allowfullscreen>
        </iframe>
    </div>

    <h3 class="cast-titel">Cast</h3>

    <ul class="list-group">
        {% for rol in rollen %}
            <li class="list-group-item">
                {{ rol.acteur.voornaam }} {{ rol.acteur.achternaam }}
                als <strong>{{ rol.personage }}</strong>
            </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}