{% extends "template.html" %}

{% block title %}
<title>results</title>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}

{% block content %}
<h2>Zoekresultaten voor "{{ query }}"</h2>

{% if results %}
   <ul class="list-group">
    {% for film in results %}
        <li class="list-group-item">
            <a href="/film/{{ film.id }}">
                {{ film.title }}
            </a>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>Geen resultaten gevonden voor "{{ query }}"</p>
{% endif %}
{% endblock %}