<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">

    {%block stylesheet%}
    <link rel="stylesheet" href="static/template.css">
    {%endblock%}
    {%block title%}
    <title>Filmfan</title>
    {%endblock%}
</head>

<body>
{%block navbar%}
<nav class="navbar navbar-expand-lg navbar-dark navbar-gradient">
        <div class="container-fluid">

            <a class="navbar-brand fw-bold navbar-paddingleft white-home" href="/">Filmfan</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">

                <div class="navbar-nav">
                    <a class="nav-link fw-bold" href="#">Movies</a>
                    <a class="nav-link fw-bold" href="/myaccount">Myaccount</a>
                </div>

                <form class="d-flex mx-auto search-form" role="search">
                    <input id="searchInput" class="form-control search-size" type="search" placeholder="Zoeken"
                        aria-label="Zoek">
                    <button class="btn custom-button loop" type="submit">🔍</button>
                </form>
                <a href="/login" class="login-button ms-auto navbar-paddingright">Login</a>

            </div>
        </div>
    </nav>

{%endblock%}
{% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>